<template lang="html">
  <v-row>
    <v-col cols="12" class="text-center pa-0 ma-0">
      <FireLogo />
      <div class="text-center pa-0 ma-0">
        <v-btn small outlined rounded color="success lighten-5">
          <v-icon color="success lighten-3">mdi-account-circle</v-icon>
          {{ localStorageFirebaseUser.email }}
        </v-btn>
      </div>

      <h1 :class="titleclass">
        {{ title }}
      </h1>

      <v-btn :loading="loading" rounded color="error" dark>
        <v-icon large left>mdi-clock-outline</v-icon>
        <span class="pl-2">{{ timeupdate }}</span>
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon>mdi-clock-outline</v-icon>
          </span>
        </template>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import FireLogo from '@/components/FireLogo'
export default {
  components: {
    FireLogo
  },
  props: {
    title: {
      type: String,
      default() {
        return 'IOT GAS ALAM SENSER'
      }
    },
    titleclass: {
      type: String,
      default() {
        return null
      }
    }
  },
  data: () => ({
    timeupdate: '',
    loading: true
  }),
  computed: {
    localStorageFirebaseUser() {
      if (localStorage.firebase_user) {
        return JSON.parse(localStorage.firebase_user)
      } else {
        return ''
      }
    }
  },
  mounted() {
    setInterval(() => {
      this.fnTimeUpdate()
      this.loading = false
    }, 1000)
  },
  methods: {
    fnTimeUpdate() {
      this.timeupdate = this.$moment().format('Do MMMM YYYY HH:mm:ss')
    }
  }
}
</script>

<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
