<template>
  <v-icon class="FireLogo" size="150" color="orange darken-2">mdi-fire</v-icon>
</template>

<style>
.FireLogo {
  border: 1px;
  position: relative;
  overflow: hidden;
  transform: rotateY(560deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
