<template>
  <v-snackbar v-model="showsnackbar" :color="color" rounded="pill">
    {{ message }}
    <!-- <v-btn text @click="showsnackbar = false">ปิด</v-btn> -->
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      showsnackbar: false,
      message: '',
      color: '',
      timeout: 3000
    }
  },

  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'snackbar/showMessage') {
        this.message = state.snackbar.content
        this.color = state.snackbar.color
        this.showsnackbar = true
      }
    })
  }
}
</script>
