<template lang="html">
  <v-col cols="12" class="pa-2">
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          retain-focus-on-click
          block
          color="blue-grey"
          class="white--text"
          min-height="100px"
          v-bind="attrs"
          v-on="on"
        >
          <v-row>
            <v-col cols="12" class="pa-0 ma-0"
              ><v-icon x-large dark>mdi-logout</v-icon>
            </v-col>
            <v-col cols="12" class="pa-0 ma-0"> ออกจากระบบ </v-col>
          </v-row>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline error white--text">
          <v-icon dark>mdi-logout</v-icon>
          คุณแน่ใจว่าต้องการ</v-card-title
        >
        <v-card-text class="pa-2">
          <p class="ma-2 text-h5 error--text">
            ออกจากระบบ หรือไม่!
          </p></v-card-text
        >

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color=" darken-1" text x-small @click="dialog = false"
            >ยกเลิก</v-btn
          >
          <v-btn color="error" @click="logout">ออกจากระบบ</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-col>
</template>

<script>
// import { auth } from '~/plugins/firebase.js'
export default {
  data: () => ({
    dialog: false
  }),
  methods: {
    logout() {
      this.dialog = false
      // this.$emit('logout-submitted')
      this.$fireAuth.signOut().then((res) => {
        // console.log('firebase.auth().signOut', res)
        this.$router.push('/')
      })
    }
  }
}
</script>

<style lang="css" scoped></style>
