body,
.v-application {
  background: rgb(255, 54, 54) !important;
  background: linear-gradient(
    0deg,
    rgba(255, 54, 54, 1) 0%,
    rgba(241, 206, 0, 1) 100%
  ) !important;
}
.GMap__Wrapper {
  height: 250px !important;
}
