<template lang="html">
  <v-row>
    <v-col cols="12">
      <FireHeader title="IOT GAS ALRAM SENSER" />
    </v-col>
    <!-- {{ dialogsAlarm }}
    <hr /> -->
    <!-- {{ dataDeviceList }} -->
    <!-- <hr />
    {{ dataDeviceListHistory }} -->
    <!-- {{ listFcmUserSecurity }} -->
    <v-col cols="12">
      <v-card>
        <v-tabs
          v-model="tab"
          color="deep-orange accent-4"
          centered
          grow
          icons-and-text
        >
          <!-- <v-tabs-slider></v-tabs-slider> -->

          <v-tab href="#tab-1">
            แจ้งเตือนล่าสุด
            <v-icon>mdi-alarm-light</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            ประวัติ
            <v-icon>mdi-history</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab" class="transparent">
          <v-tab-item value="tab-1">
            <v-data-iterator
              :items="dataDeviceList"
              :page="page"
              :items-per-page="itemsPerPage"
              hide-default-footer
            >
              <template v-slot:default="props">
                <v-row>
                  <v-col
                    v-for="(item, i) in props.items"
                    :key="i"
                    cols="12"
                    class="px-5 py-2"
                  >
                    <v-card
                      v-breathing-colors="breathingSetting"
                      class="mx-auto"
                    >
                      <v-list-item two-line>
                        <v-list-item-content>
                          <v-list-item-title class="headline">
                            <v-card-title
                              class="subheading font-weight-bold pa-1"
                            >
                              <v-avatar color="indigo" size="28" class="mr-2">
                                <span class="white--text">{{
                                  itemsPerPage * page + i - (itemsPerPage - 1)
                                }}</span>
                              </v-avatar>
                              {{ item.deviceName }}
                            </v-card-title>
                          </v-list-item-title>
                          <v-list-item-subtitle
                            >Device ID : {{ item.deviceKey }}
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            ข้อมูล ณ : {{ item.timestamp }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>

                      <v-card-text class="pa-0">
                        <v-row align="center" class="text-center">
                          <!-- <v-col class="display-3 error" cols="6">
                            300 PPM
                          </v-col> -->
                          <v-col cols="12">
                            <v-progress-circular
                              :rotate="90"
                              :size="100"
                              :width="10"
                              :value="(item.deviceValueDetect / 200) * 100"
                              color="red"
                            >
                              {{ item.deviceValueDetect }} PPM
                            </v-progress-circular>
                          </v-col>
                          <v-col cols="12">
                            {{ item.deviceMsgAlarm }}
                          </v-col>
                        </v-row>
                      </v-card-text>

                      <div class="text-center">
                        ค่าที่กำหนด Alarm
                        <span class="success--text"
                          >{{ item.deviceValueAlarmDefault }} %
                        </span>
                        <br />
                        <small>(1000 PPM = 100%)</small>
                      </div>

                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-btn
                          class="error--text"
                          @click="handleCancelClicked(item)"
                          >ยกเลิก</v-btn
                        >
                        <v-spacer></v-spacer>
                        <v-btn
                          v-if="!item.securityAccept"
                          :color="item.confirmAlarm ? 'info' : 'error'"
                          @click="handleConfirmClicked(item)"
                          >{{
                            item.confirmAlarm
                              ? 'แจ้งดับเพลิงแล้ว'
                              : 'แจ้งดับเพลิง'
                          }}</v-btn
                        >
                        <v-btn v-if="item.securityAccept" color="success">
                          กำลังเดินทาง</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:footer>
                <v-row class="px-5 pb-3" align="center" justify="center">
                  <v-spacer></v-spacer>
                  <span class="mr-4 grey--text">
                    Page {{ page }} of
                    {{ numberOfPages }}
                  </span>
                  <v-btn
                    fab
                    small
                    dark
                    color="blue darken-3"
                    class="mr-1"
                    @click="formerPage"
                  >
                    <v-icon>mdi-chevron-left</v-icon>
                  </v-btn>
                  <v-btn
                    fab
                    small
                    dark
                    color="blue darken-3"
                    class="ml-1"
                    @click="nextPage"
                  >
                    <v-icon>mdi-chevron-right</v-icon>
                  </v-btn>
                </v-row>
              </template>
            </v-data-iterator>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-card flat>
              <v-card-text>
                <v-data-table
                  :headers="headersHistory"
                  :items="dataDeviceListHistory"
                  class="elevation-1"
                >
                  <template v-slot:item.deviceValueDetect="{ item }">
                    <v-chip :color="getColor(item.deviceValueDetect)" dark>{{
                      item.deviceValueDetect
                    }}</v-chip>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>

    <v-dialog v-model="dialogsAlarm.show" persistent max-width="290">
      <v-card :color="dialogsAlarm.type_confirm ? 'error' : ''" dark>
        <v-card-title :class="`headline ${dialogsAlarm.color}--text`">{{
          dialogsAlarm.title
        }}</v-card-title>
        <v-card-text v-html="dialogsAlarm.message"></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="darken-1"
            @click="
              dialogsAlarm.show = false
              dialogsAlarm.id_selected = ''
            "
            >ยกเลิก</v-btn
          >
          <v-btn color="green darken-1" @click="handleDialogClickedConfirm()"
            >ตกลง</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import FireHeader from '@/components/guest/FireHeader'
const firebaseUser = JSON.parse(localStorage.firebase_user)
export default {
  components: {
    FireHeader,
  },
  fetch() {
    // this.inserDataTest()
    try {
      // #get list Device Key from firebase /setting/{$uid}/Device/{$auto_key}
      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .once('value', (snapshot) => {
          this.dataDeviceList = []
          snapshot.forEach((mainSnapshot) => {
            // #find Device Key in firebase /logSensor/{device_key}
            // console.log(mainSnapshot.val())
            this.$fireDb
              .ref('alarmSensor')
              .child(mainSnapshot.val().key)
              // .orderByChild('securityAccept')
              // .equalTo(false)
              .orderByKey()
              .limitToLast(1)
              .on('value', (childSnapshot) => {
                if (childSnapshot.exists()) {
                  // console.log('childSnapshot', childSnapshot.val())
                  childSnapshot.forEach((valChildSnapshot) => {
                    if (!valChildSnapshot.val().securityIsComplete) {
                      // console.log('valChildSnapshot', valChildSnapshot.val())
                      this.dataDeviceList.push({
                        key: valChildSnapshot.key,
                        deviceKey: mainSnapshot.val().key,
                        deviceMsgAlarm: mainSnapshot.val().msg_alarm,
                        deviceName: mainSnapshot.val().name,
                        timestamp: valChildSnapshot.val().dateTime,
                        deviceValueAlarmDefault: valChildSnapshot.val()
                          .valueAlarmDefault,
                        deviceValueDetect: valChildSnapshot.val().valueDetect,
                        confirmAlarm: valChildSnapshot.val().confirmAlarm,
                        securityAccept: valChildSnapshot.val().securityAccept,
                      })
                    }
                  })
                }
              })
          })
        })

      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .once('value', (snapshot) => {
          this.dataDeviceList = []
          snapshot.forEach((mainSnapshot) => {
            // #find Device Key in firebase /logSensor/{device_key}
            // console.log(mainSnapshot.val())
            this.$fireDb
              .ref('alarmSensor')
              .child(mainSnapshot.val().key)
              // .orderByChild('securityAccept')
              // .equalTo(false)
              .orderByKey()
              .limitToLast(1)
              .on('child_changed', (childSnapshot) => {
                // this.$nuxt.refresh()
                this.$fetch()
              })
          })
        })

      // get List Device Alarm History securityAccept = true
      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .once('value', (snapshot) => {
          this.dataDeviceListHistory = []
          snapshot.forEach((mainSnapshot) => {
            // #find Device Key in firebase /logSensor/{device_key}
            // console.log('mainSnapshot', mainSnapshot.val())
            // console.log('mainSnapshot.val().key:', mainSnapshot.val().key)
            this.$fireDb
              .ref('alarmSensor')
              .child(mainSnapshot.val().key)
              .orderByChild('securityIsComplete')
              .equalTo(true)
              .on('value', (childSnapshot) => {
                if (childSnapshot.exists()) {
                  console.log(
                    'dataDeviceListHistory childSnapshot',
                    childSnapshot.val()
                  )
                  childSnapshot.forEach((valChildSnapshot) => {
                    this.dataDeviceListHistory.push({
                      key: mainSnapshot.val().key,
                      deviceMsgAlarm: mainSnapshot.val().msg_alarm,
                      deviceName: mainSnapshot.val().name,
                      timestamp: valChildSnapshot.val().dateTime,
                      deviceValueAlarmDefault: valChildSnapshot.val()
                        .valueAlarmDefault,
                      deviceValueDetect: valChildSnapshot.val().valueDetect,
                    })
                  })
                }
              })
          })
        })
      // console.log(this.dataDeviceListHistory)

      // listFMCUserSecurity
      this.$fireDb
        .ref('user_auth')
        .orderByChild('user_type')
        .equalTo('security')
        .once('value', (snapshot) => {
          if (snapshot.exists()) {
            snapshot.forEach((valSnapshot) => {
              // console.log('snapshot key:', valSnapshot.key)
              // console.log('snapshot val:', valSnapshot.val())
              this.listFcmUserSecurity.push({
                uid: valSnapshot.key,
                fcm: valSnapshot.val().fcm,
              })
            })
          }
        })
    } catch (e) {
      console.error('e')
    }
  },
  data: () => ({
    tab: null,
    headersHistory: [
      { text: 'วันที่ เวลา', value: 'timestamp' },
      { text: 'อุปกรณ์', value: 'deviceName' },
      { text: 'ค่า LPG', value: 'deviceValueDetect' },
      { text: 'ค่าที่กำหนด Alarm', value: 'deviceValueAlarmDefault' },
    ],
    page: 1,
    itemsPerPage: 3,
    dataDeviceList: [],
    dataDeviceListHistory: [],
    breathingSetting: {
      colors: ['yellow', 'orange'],
      interval: 750,
      transition: {
        duration: 750,
      },
    },
    dialogsAlarm: {
      show: false,
      type_confirm: false,
      color: '',
      title: '',
      message: '',
      id_selected: '',
    },
    listFcmUserSecurity: [],
  }),
  computed: {
    numberOfPages() {
      return Math.ceil(this.dataDeviceList.length / this.itemsPerPage)
    },
  },
  methods: {
    handleConfirmClicked(item) {
      console.log('handleConfirmClicked', item)
      this.dialogsAlarm.id_selected = item.deviceKey + '/' + item.key
      this.dialogsAlarm.type_confirm = true
      this.dialogsAlarm.show = true
      this.dialogsAlarm.title = 'คุณต้องแจ้งดับเพลิง'
      this.dialogsAlarm.message = `รายการแจ้งเตือน : ${item.deviceName}<br>Device ID : ${item.deviceKey}<br>ของเวลา : ${item.timestamp}<br>จริงหรือไม่?`
    },
    handleCancelClicked(item) {
      console.log('handleCancelClicked', item)
      this.dialogsAlarm.id_selected = item.deviceKey + '/' + item.key
      this.dialogsAlarm.type_confirm = false
      this.dialogsAlarm.show = true
      this.dialogsAlarm.color = 'red'
      this.dialogsAlarm.title = 'คุณต้องการยกเลิก!'
      this.dialogsAlarm.message = `รายการแจ้งเตือน : ${item.deviceName}<br>Device ID : ${item.deviceKey}<br>ของเวลา : ${item.timestamp}<br>จริงหรือไม่?`
    },
    async handleDialogClickedConfirm() {
      console.log('handleCancelClickedConfirm Page')
      try {
        if (this.dialogsAlarm.id_selected) {
          if (this.dialogsAlarm.type_confirm) {
            await this.$fireDb
              .ref('alarmSensor')
              .child(this.dialogsAlarm.id_selected)
              .update({
                confirmAlarm: true,
              })
            this.$notifier.showMessage({
              content: 'บันทึกข้อมูลสำเร็จ!',
              color: 'success',
            })

            console.log('this.listFcmUserSecurity', this.listFcmUserSecurity)
            console.log('this.dialogsAlarm', this.dialogsAlarm)
            this.listFcmUserSecurity.forEach((item) => {
              if (item.fcm) {
                const msgSend = {
                  to: item.fcm,
                  notification: {
                    sound: 'default',
                    body: `โปรดตรวจสอบที่ แอปพลิเคชัน ด้วยค่ะ`,
                    title: 'แจ้งเจ้าหน้าที่กู้ภัย พบการรั่วของ GAS แล้วค่ะ',
                    content_available: true,
                    priority: 'high',
                  },
                }
                this.$axios.setToken(
                  'AAAA3kNwMd8:APA91bHurC8nXwprZy3vNaFWDLh7VukOBGFVZ0jaWP5Uza-NZS8MIrOoXvNQg9dsU_ygy4WPHb_o9jK-9xqfW0_WiAZJBe2t9_TSZEFvnZ22y1hLc5CNwXySdDQoafDf7tSfDvF84cYl',
                  'bearer'
                )
                this.$axios.$post(
                  'https://fcm.googleapis.com/fcm/send',
                  msgSend
                )
              }
            })
          } else {
            this.$fireDb
              .ref('alarmSensor')
              .child(this.dialogsAlarm.id_selected)
              .remove()
            this.$notifier.showMessage({
              content: 'ลบข้อมูลสำเร็จ!',
              color: 'warning',
            })
          }
        } else {
          this.$notifier.showMessage({
            content: `Error : ไม่พบ ID Key Data`,
            color: 'error',
          })
        }
      } catch (e) {
        this.$notifier.showMessage({
          content: `Error : ${e}`,
          color: 'error',
        })
      } finally {
        this.dialogsAlarm.show = false
        this.$fetch()
      }
    },
    getColor(value) {
      if (value > 100) return 'red'
      else if (value > 75) return 'orange'
      else return 'green'
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
    },
    inserDataTest() {
      this.$fireDb
        .ref('logSensor')
        .child('new22')
        .push({
          dateTime: this.$moment().format('YYYY-MM-DD HH:mm:ss') || '',
          valueDetect: Math.floor(Math.random() * 100) + 50,
        })

      this.$fireDb
        .ref('alarmSensor')
        .child('new22')
        .push({
          dateTime: this.$moment().format('YYYY-MM-DD HH:mm:ss') || '',
          securityAccept: true,
          confirmAlarm: false,
          valueAlarmDefault: 123,
          valueDetect: Math.floor(Math.random() * 100) + 50,
        })
    },
  },
}
</script>

<style lang="css" scoped></style>
