<template lang="html">
  <v-row>
    <v-col cols="12">
      <FireHeader title="guest" titleclass="text-uppercase" />
    </v-col>
    <v-col>
      <v-skeleton-loader
        v-for="(data, i) in dataDeviceList"
        :key="i"
        :loading="loading"
        height="94"
        type="list-item-two-line"
      >
        <v-card class="mb-2" flat>
          <v-avatar color="teal">
            <span class="white--text headline">{{ ++i }}</span>
          </v-avatar>

          <div class="d-flex flex-no-wrap justify-space-between mt-n5">
            <div>
              <v-card-title class="headline">{{
                data.deviceName
              }}</v-card-title>

              <v-card-subtitle>Device Key: {{ data.key }}</v-card-subtitle>
              <v-card-text style="color: red">
                {{ data.deviceMsgAlarm }}
                <v-col class="text--secondary pa-0"
                  >ณ เวลา {{ data.timestamp }}</v-col
                >
              </v-card-text>
            </div>

            <v-avatar size="125" tile>
              <v-btn class="ma-2" rounded color="indigo" dark>
                {{ data.deviceValueDetect }} ppm
              </v-btn>
            </v-avatar>
          </div>
        </v-card>
      </v-skeleton-loader>
    </v-col>
  </v-row>
</template>

<script>
// import { userSettingDB, logSensorDB } from '~/plugins/firebase.js' //, logSensorDB
import FireHeader from '@/components/guest/FireHeader'
const firebaseUser = JSON.parse(localStorage.firebase_user)
export default {
  components: {
    FireHeader,
  },
  async fetch() {
    // console.log('fetch')
    try {
      this.fnTimeUpdate()

      // this.getDataFirebase()
    } catch (e) {
      console.log(e)
    }
  },
  data: () => ({
    timeupdate: '',
    value: 100,
    loading: false,
    dataDeviceList: [],
  }),
  mounted() {
    console.log('mounted')
    this.getDeviceToken()

    this.$fireDb
      .ref('setting')
      .child(firebaseUser.uid + '/Device')
      .on('value', (snapshot) => {
        this.dataDeviceList = []
        snapshot.forEach((mainSnapshot) => {
          // #find Device Key in firebase /logSensor/{device_key}
          // console.log(mainSnapshot.val())
          this.$fireDb
            .ref('logSensor')
            .child(mainSnapshot.val().key)
            // .orderByChild('securityAccept')
            // .equalTo(false)
            .orderByKey()
            .limitToLast(1)
            .on('child_added', (childSnapshot) => {
              // this.$nuxt.refresh()
              // console.log('child_added')
              this.getDataFirebase()
            })
        })
      })
  },
  methods: {
    fnTimeUpdate() {
      this.timeupdate = this.$moment().format('Do MMMM YYYY HH:mm:ss')
    },
    async getDataFirebase() {
      await this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .once('value', (snapshot) => {
          this.dataDeviceList = []
          snapshot.forEach((mainSnapshot) => {
            // #find Device Key in firebase /logSensor/{device_key}
            this.$fireDb
              .ref('logSensor')
              .child(mainSnapshot.val().key)
              // .orderByKey()
              .limitToLast(1)
              .once('value', (childSnapshot) => {
                if (childSnapshot.exists()) {
                  childSnapshot.forEach((valChildSnapshot) => {
                    this.dataDeviceList.push({
                      key: mainSnapshot.val().key,
                      deviceMsgAlarm: mainSnapshot.val().msg_alarm,
                      deviceName: mainSnapshot.val().name,
                      timestamp: valChildSnapshot.val().dateTime,
                      deviceValueDetect: valChildSnapshot.val().valueDetect,
                    })
                  })
                }
              })
          })
        })
    },
    getDeviceToken() {
      console.log('getDeviceToken Start...')
      if (!this.$fireMess) {
        // No browser support
        // return
        console.log('$fireMess No browser support')
      } else {
        console.log('$fireMess browser support')
      }
      this.$fireMess
        .requestPermission()
        .then(() => {
          console.log('Have permission')
          return this.$fireMess.getToken()
        })
        .then((currentToken) => {
          if (currentToken) {
            console.log('Current Token : ', currentToken)
            this.$fireDb
              .ref('user_auth')
              .child(firebaseUser.uid)
              .update({
                fcm: currentToken,
                update_datetime: this.$moment().format('YYYY-MM-DD HH:mm:ss'),
              })
          }
        })
        .catch((err) => {
          console.log('Error occured', err)
        })
      this.$fireMess.onMessage((payload) => {
        console.log('onMessage: ', payload)
        this.dialog.status = true
        this.dialog.title = payload.notification.title
        this.dialog.title_color = 'error'
        this.dialog.text = payload.notification.body
      })
    },
    // inserDataTest() {
    //   logSensorDB.child('chip555').push({
    //     dateteTime: this.timeupdate,
    //     valueDetect: Math.floor(Math.random() * 1000) + 50
    //   })
    // }
  },
}
</script>

<style lang="css" scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>
