<template lang="html">
  <v-row>
    <v-col cols="12"> <FireHeader title="IOT GAS SETTING" /> </v-col>
    <v-col cols="12">
      <v-row dense>
        <v-col
          v-for="(card, i) in cards"
          :key="i"
          :cols="card.flex"
          class="pa-2"
        >
          <v-btn
            retain-focus-on-click
            block
            :color="card.color"
            class="white--text"
            min-height="100px"
            @click="card.dialog = true"
          >
            <v-row>
              <v-col cols="12" class="pa-0 ma-0"
                ><v-icon x-large dark>{{ card.icon }}</v-icon>
              </v-col>
              <v-col cols="12" class="pa-0 ma-0">
                {{ card.title }}
              </v-col>
            </v-row>
          </v-btn>
        </v-col>
        <LogoutFirebase></LogoutFirebase>
      </v-row>
    </v-col>

    <!-- dialog 1 -->
    <v-dialog
      v-model="cards[0].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[0].color" short>
          <v-btn icon dark @click="cards[0].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[0].title" />
          <v-spacer></v-spacer>

          <v-fab-transition>
            <v-btn
              color="pink"
              fab
              dark
              absolute
              bottom
              right
              @click="dialog_sub_adddevice = true"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-fab-transition>
        </v-toolbar>

        <v-card-text style="min-height: 100%">
          <ManagerDevice :items="dataDeviceList" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_sub_adddevice" persistent>
      <v-card>
        <v-card-title class="primary white--text">
          เพิ่มอุปกรณ์ SENSER
          <v-spacer></v-spacer>
          <v-btn fab small @click="dialog_sub_adddevice = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="validAddDevice" lazy-validation>
          <v-card-text>
            <v-text-field
              v-model="dataDevice.key"
              label="Key อุปกรณ์"
              placeholder="K1234567"
              :rules="[(v) => !!v || 'กรุณากรอก Key อุปกรณ์ ด้วยค่ะ!']"
              required
            ></v-text-field>
            <v-text-field
              v-model="dataDevice.name"
              label="ชื่ออุปกรณ์"
              :rules="[(v) => !!v || 'กรุณากรอก ชื่ออุปกรณ์ ด้วยค่ะ!']"
              required
            ></v-text-field>
            <v-text-field
              v-model="dataDevice.msg_alarm"
              label="ข้อความที่แจ้งเตือน (ระบุข้อความแจ้งเตือนบริเวณ สถานที่)"
              placeholder="ตัวอย่าง พบแก๊สรั่วไหลจากห้องครัวหลังบ้าน"
              :counter="0"
              :rules="[
                (v) => !!v || 'กรุณากรอก ข้อความที่แจ้งเตือน ด้วยค่ะ!',
                (v) => (v && v.length >= 10) || 'กรุณากรอก 10 ตัวอักษรขึ้นไป'
              ]"
              required
            ></v-text-field>
            <v-text-field
              v-model="dataDevice.val_alarm"
              label="ค่าที่เริ่มแจ้งเตือน"
              type="number"
              min="0"
              value="50"
              suffix="ppm"
              :rules="[(v) => !!v || 'กรุณากรอก ค่าที่เริ่มแจ้งเตือน ด้วยค่ะ!']"
              required
            ></v-text-field>
            <v-col cols="12"> <GeoLocation /></v-col>
          </v-card-text>
          <v-card-actions>
            <v-btn
              block
              :disabled="!validAddDevice"
              color="error"
              class="mr-4"
              @click="validateAddDevice"
            >
              <v-icon left>mdi-login</v-icon>
              บันทึก
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <!-- /dialog 1 -->

    <!-- dialog 2 [ตั่งค่าการแจ้งเตือน]-->
    <v-dialog
      v-model="cards[1].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[1].color" short>
          <v-btn icon dark @click="cards[1].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[1].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%">
          <v-col cols="12">
            <v-form ref="form" v-model="formTokenLineNotify">
              <v-subheader class="success--text title pa-0 ma-0"
                >ตั่งค่าการแจ้งเตือนไปยัง LINE</v-subheader
              >
              <v-text-field
                v-model="dataSetting.LineNotifyToken"
                :counter="0"
                :rules="[
                  (v) => !!v || 'กรุณากรอก Line Notify TOKEN ของท่าน',
                  (v) => (v && v.length == 43) || 'กรุณากรอก ให้ครบ 43 ตัวอกษร'
                ]"
                label="Line TOKEN"
                class="pa-0"
                :hint="`ข้อมูล ณ : ${dataSetting.create_datetime}`"
                required
              ></v-text-field>

              <v-btn
                block
                :disabled="!formTokenLineNotify"
                :loading="progressTokenLineNotify"
                color="success"
                class="mr-4"
                @click="validateTokenLineNotify"
              >
                บันทึก
              </v-btn>
            </v-form>
          </v-col>

          <v-list three-line>
            <v-divider></v-divider>
            <v-subheader
              >วิธีการ สร้าง Token ของไลน์ Notify เอามาใช้งาน</v-subheader
            >
            <iframe
              width="100%"
              style="min-height: 250px"
              src="https://www.youtube.com/embed/gZ2Vez88GHI"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 2 -->

    <!-- dialog 3 -->
    <v-dialog
      v-model="cards[2].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[2].color" short>
          <v-btn icon dark @click="cards[2].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[2].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%">
          <v-list three-line>
            <v-subheader>VDO การใช้งาน</v-subheader>
            <iframe
              width="100%"
              style="min-height: 250px"
              src="https://www.youtube.com/embed/uBnXTuCKnCE"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 3 -->

    <!-- dialog 4 -->
    <v-dialog
      v-model="cards[3].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[3].color" short>
          <v-btn icon dark @click="cards[3].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[3].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%" class="pl-0"
          ><TimelineAbout />
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 4 -->

    <v-snackbar
      v-model="snackbar.status"
      :multi-line="snackbar.multiLine"
      :color="snackbar.color"
    >
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" @click="snackbar.status = false"> ปิด </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
import GeoLocation from '@/components/guest/setting/GeoLocation'
import FireHeader from '@/components/guest/FireHeader'
import LogoutFirebase from '@/components/firebase/Logout'
import ManagerDevice from '@/components/guest/setting/ManagerDevice'
import TimelineAbout from '@/components/guest/setting/TimelineAbout'

const firebaseUser = JSON.parse(localStorage.firebase_user)

export default {
  components: {
    FireHeader,
    LogoutFirebase,
    GeoLocation,
    ManagerDevice,
    TimelineAbout
  },
  fetch() {
    try {
      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/LineNotifyToken')
        .once('value')
        .then((snapshot) => {
          // console.log(snapshot)
          if (snapshot.val()) {
            this.dataSetting = snapshot.val()
          }
          // snapshot.forEach(function(data) {
          //   console.log('[key]: ' + data.key + ' [val]: ' + data.val())
          // })
        })

      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .on('value', (snapshot) => {
          this.dataDeviceList = []
          snapshot.forEach((childSnapshot) => {
            // let childKey = childSnapshot.key
            // let childData = childSnapshot.val()
            // console.log({ key: childSnapshot.key, data: childSnapshot.val() })
            this.dataDeviceList.push({
              key: childSnapshot.key,
              data: childSnapshot.val()
            })
          })
        })
    } catch (e) {
      console.log(e)
    }
  },
  data: () => ({
    cards: [
      {
        icon: 'mdi-plus-network',
        title: 'จัดการอุปกรณ์',
        color: 'success',
        dialog: false,
        flex: 6
      },
      {
        icon: 'mdi-cog-outline',
        title: 'ตั้งค่าการแจ้งเตือน',
        color: 'error',
        dialog: false,
        flex: 6
      },
      {
        icon: 'mdi-help',
        title: 'วิธีการใช้งาน',
        color: 'indigo',
        dialog: false,
        flex: 6
      },
      {
        icon: 'mdi-information-variant',
        title: 'เกี่ยวกับเรา',
        color: 'info',
        dialog: false,
        flex: 6
      }
    ],

    itemsManagerDevice: [
      {
        title: 'เซนเซอร์ตรวจจับแก๊สรั่ว MQ5',
        valmore_alert: 50,
        localtion_title: 'พบแก๊สรั่ว บริเวณ ห้องครัวหลังบ้าน'
      },
      {
        title: 'เซนเซอร์ตรวจจับแก๊สรั่ว2 MQ5',
        valmore_alert: 100,
        localtion_title: 'พบแก๊สรั่ว บริเวณ ห้องครัวข้างบ้าน'
      }
    ],

    dialog_sub_adddevice: false,
    validAddDevice: true,
    dataDevice: {
      key: null,
      name: null,
      msg_alarm: null,
      val_alarm: null,
      timestamp: null
    },
    dataDeviceList: [],

    formTokenLineNotify: true,
    dataSetting: {
      LineNotifyToken: null,
      create_datetime: null
    },
    progressTokenLineNotify: false,
    snackbar: {
      status: false,
      multiLine: true,
      color: null,
      text: ''
    }
  }),
  methods: {
    // settingMenuClicked(val) {
    //   alert(val)
    // },
    async validateAddDevice() {
      const gpsCenter = JSON.parse(localStorage.center)
      if (this.$refs.form.validate()) {
        try {
          this.dataDevice.lat = gpsCenter.lat
          this.dataDevice.lng = gpsCenter.lng
          // this.dataDevice.uid = firebaseUser.uid
          this.dataDevice.timestamp = this.$moment().format(
            'YYYY-MM-DD HH:mm:ss'
          )
          await this.$fireDb
            .ref('setting')
            .child(firebaseUser.uid + '/Device')
            .orderByChild('key')
            .equalTo(this.dataDevice.key)
            .once('value', (snapshot) => {
              if (snapshot.exists()) {
                // TRUE
                // const userData = snapshot.val();
                // console.log("exists!", userData);
                this.snackbar.status = true
                this.snackbar.color = 'error'
                this.snackbar.text =
                  'บันทึกข้อมูลไม่สำเร็จ เนื่องจาก Key อุปกรณ์นี้มีอยู่ในระบบแล้ว!'
              } else {
                // Inset Data to [firebaseUser.uid + ${Device} + firebase.AutoId]
                this.$fireDb
                  .ref('setting')
                  .child(firebaseUser.uid + '/Device')
                  .push(this.dataDevice)

                // this.snackbar.status = true
                // this.snackbar.color = 'success'
                // this.snackbar.text = 'บันทึกข้อมูลแล้ว'
                this.$notifier.showMessage({
                  content: 'บันทึกข้อมูลสำเร็จ!',
                  color: 'success'
                })
                this.$refs.form.reset()
                this.dialog_sub_adddevice = false
                this.$fetch()
              }
            })
        } catch (error) {
          // console.log(`error saveUserSettingDB : ${error}`)
          this.snackbar.status = true
          this.snackbar.color = 'error'
          this.snackbar.text = `error.code: ${error.code} || error.message: ${error.message}`
        }
      } else {
        // alert('not work')
        this.snackbar.status = true
        this.snackbar.color = 'error'
        this.snackbar.text = 'กรุณากรอกตามที่รูปแบบกำหนดด้วยค่ะ!'
      }
    },
    async validateTokenLineNotify() {
      if (this.$refs.form.validate()) {
        // console.log('ok')
        // console.log('tokenLineNotify:' + this.dataSetting.LineNotifyToken)
        this.progressTokenLineNotify = true
        try {
          await this.$fireDb
            .ref('setting')
            .child(firebaseUser.uid + '/LineNotifyToken')
            .set({
              create_datetime: this.$moment().format('YYYY-MM-DD HH:mm:ss'),
              LineNotifyToken: this.dataSetting.LineNotifyToken
            })
          this.snackbar.status = true
          this.snackbar.color = 'success'
          this.snackbar.text = 'บันทึกข้อมูลแล้ว'
          this.$fetch()
        } catch (error) {
          // console.log(`error saveUserSettingDB : ${error}`)
          this.snackbar.status = true
          this.snackbar.color = 'error'
          this.snackbar.text = `error.code: ${error.code} || error.message: ${error.message}`
        } finally {
          this.progressTokenLineNotify = false
          console.log('finally saveUserSettingDB')
        }
      } else {
        this.progressTokenLineNotify = false
        // alert('not work')
        this.snackbar.status = true
        this.snackbar.color = 'error'
        this.snackbar.text = 'กรุณากรอกตามที่รูปแบบกำหนดด้วยค่ะ!'
      }
    }
  }
}
</script>

<style lang="css" scoped>
.v-toolbar {
  max-height: 56px;
}
</style>
