<template lang="html">
  <v-row>
    <v-col cols="12">
      <GMap
        id="testssss"
        ref="gMap"
        language="th"
        :center="localStorageCenter"
        :options="{ fullscreenControl: false }"
        :zoom="18"
      >
        <GMapMarker key="1" :position="localStorageCenter">
          <GMapInfoWindow :options="{ maxWidth: 200, maxHeight: 100 }">
            <code
              ><b>ตำแหน่งของฉัน</b> <br />
              lat: {{ localStorageCenter.lat }}, lng:
              {{ localStorageCenter.lng }}
            </code>
          </GMapInfoWindow>
        </GMapMarker>
        <GMapCircle />
      </GMap>
    </v-col>
  </v-row>
</template>

<script>
export default {
  asyncData() {
    console.log('asyncData !')
  },
  data: () => ({
    error: '',
    currentLocation: { lat: '', lng: '' }
  }),
  computed: {
    localStorageCenter() {
      if (localStorage.center) {
        return JSON.parse(localStorage.center)
      } else {
        return ''
      }
    }
  },
  created() {
    // does the user have a saved center? use it instead of the default
    if (navigator.geolocation) {
      // console.log('navigator geolocation ON');
      if (!localStorage.center) {
        // get user's coordinates from browser request
        localStorage.center = JSON.stringify({
          lat: this.currentLocation.lat,
          lng: this.currentLocation.lng
        })
      } else {
        this.localStorageCreateCoordinates()
      }
    }
  },
  mounted() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        this.currentLocation.lat = position.coords.latitude
        this.currentLocation.lng = position.coords.longitude
      })
    } else {
      alert((this.error = 'Geolocation is not supported.'))
    }
  },
  methods: {
    localStorageCreateCoordinates() {
      // console.log('localStorageCreateCoordinates');
      navigator.geolocation.getCurrentPosition((position) => {
        this.currentLocation.lat = position.coords.latitude
        this.currentLocation.lng = position.coords.longitude
        localStorage.center = JSON.stringify({
          lat: this.currentLocation.lat,
          lng: this.currentLocation.lng
        })
      })
    }
  }
}
</script>

<style lang="css" scoped></style>
