<template lang="html">
  <v-col cols="12" class="pa-0 ma-0">
    <v-list three-line>
      <v-subheader>รายการอุปกรณ์</v-subheader>
      <template v-for="(item, index) in items">
        <v-divider :key="`divider${index}`"></v-divider>
        <v-list-item :key="++index">
          <v-list-item-avatar color="info" class="white--text mr-1 ml-n5">
            {{ index }}
            <!-- <v-img :src="item.avatar"></v-img> -->
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ item.data.name }}</v-list-item-title>
            <span>
              ข้อความแจ้งเตือน :
              <strong style="color: orangered"
                >{{ item.data.msg_alarm }}
              </strong>
            </span>
            <v-col>
              <v-btn
                color="grey lighten-3"
                class="ml-n13"
                absolute
                x-small
                fab
                @click="handleDeleteDeviceClicked(item)"
              >
                <v-icon color="pink">mdi-delete</v-icon>
              </v-btn>
              <v-btn small color="error">
                <v-icon dark class="pr-2">mdi-arrow-up-bold-circle</v-icon>
                {{ item.data.val_alarm }}</v-btn
              >
            </v-col>
          </v-list-item-content>

          <v-btn
            color="warning"
            small
            dark
            absolute
            bottom
            right
            fab
            class="mb-10"
            @click="handleSendEditClicked(item)"
          >
            <v-icon>mdi-content-save-edit-outline</v-icon>
          </v-btn>
        </v-list-item>
      </template>
    </v-list>

    <v-dialog v-model="dialogEditClicked" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">แก้ไขอุปกรณ์</span>
        </v-card-title>
        <v-card-subtitle class="pb-0">
          ข้อมูลเมื่อ : {{ itemEdit.data.timestamp }}
        </v-card-subtitle>
        <v-divider></v-divider>
        <v-card-text class="pa-0 ma-0">
          <v-form
            ref="formEditAlarmDevice"
            v-model="validEditAlarmDevice"
            lazy-validation
          >
            <v-card-text>
              <v-text-field
                label="key อุปกรณ์"
                :value="itemEdit.data.key"
                prepend-inner-icon="mdi-key-wireless"
                disabled
              ></v-text-field>
              <v-text-field
                v-model="itemEdit.data.name"
                label="ชื่ออุปกรณ์"
                :rules="[(v) => !!v || 'กรุณากรอก ชื่ออุปกรณ์ ด้วยค่ะ!']"
                required
              ></v-text-field>
              <v-text-field
                v-model="itemEdit.data.msg_alarm"
                label="ข้อความที่แจ้งเตือน (ระบุบริเวณ สถานที่ เป็นต้น)"
                :counter="0"
                :rules="[
                  (v) => !!v || 'กรุณากรอก ข้อความที่แจ้งเตือน ด้วยค่ะ!',
                  (v) => (v && v.length >= 10) || 'กรุณากรอก 10 ตัวอักษรขึ้นไป'
                ]"
                required
              ></v-text-field>
              <v-text-field
                v-model="itemEdit.data.val_alarm"
                label="ค่าที่เริ่มแจ้งเตือน"
                type="number"
                min="0"
                value="50"
                suffix="ppm"
                :rules="[
                  (v) => !!v || 'กรุณากรอก ค่าที่เริ่มแจ้งเตือน ด้วยค่ะ!'
                ]"
                required
              ></v-text-field>
              <v-col cols="12">
                <GeoLocation />

                <v-alert text outlined color="deep-orange" icon="mdi-map">
                  แผนที่จะไม่สามารถแก้ไขได้ *หากต้องการติดตั้งตำแหน่งใหม่
                  ต้องทำการ <strong color="red">ลบ</strong>
                  แล้วเพิ่มรายการใหม่เท่านั้น
                  <strong>เพื่อความถูกต้องของตำแหน่ง GPS</strong>
                </v-alert>
              </v-col>
            </v-card-text>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogEditClicked = false"
            >ยกเลิก</v-btn
          >
          <v-btn
            color="success"
            :disabled="!validEditAlarmDevice"
            @click="validateEditAlarmDevice"
            >แก้ไข</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="progressEdit" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          กำลังโหลด....
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogsAlarm.show" persistent max-width="290">
      <v-card :color="dialogsAlarm.type_confirm ? 'error' : ''" dark>
        <v-card-title :class="`headline ${dialogsAlarm.color}--text`">{{
          dialogsAlarm.title
        }}</v-card-title>
        <v-card-text v-html="dialogsAlarm.message"></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="darken-1"
            @click="
              dialogsAlarm.show = false
              dialogsAlarm.id_selected = ''
            "
            >ยกเลิก</v-btn
          >
          <v-btn color="green darken-1" @click="handleDialogClickedConfirm()"
            >ตกลง</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-col>
</template>

<script>
// import { userSettingDB } from '~/plugins/firebase.js'
import GeoLocation from '@/components/guest/setting/GeoLocation'

const firebaseUser = JSON.parse(localStorage.firebase_user)

export default {
  components: {
    GeoLocation
  },
  props: {
    items: {
      type: Array,
      default() {
        return []
      }
    }
    // localtion_lanlng: {
    //   type: Array,
    //   default() {
    //     return []
    //   }
    // }
  },
  fetch() {
    try {
      this.$fireDb
        .ref('setting')
        .child(firebaseUser.uid + '/Device')
        .on('value', (snapshot) => {
          this.items = []
          snapshot.forEach((childSnapshot) => {
            this.items.push({
              key: childSnapshot.key,
              data: childSnapshot.val()
            })
          })
        })
    } catch (e) {
      console.log(e)
    }
  },
  data: () => ({
    progressEdit: false,
    dialogEditClicked: false,
    validEditAlarmDevice: true,
    itemEdit: {
      key: null,
      data: {}
    },
    // dataDeviceList: [],
    dialogsAlarm: {
      show: false,
      type_confirm: false,
      color: '',
      title: '',
      message: '',
      id_selected: ''
    }
  }),
  methods: {
    handleSendEditClicked(val) {
      this.itemEdit = val
      this.dialogEditClicked = true
    },
    validateEditAlarmDevice() {
      if (this.$refs.formEditAlarmDevice.validate()) {
        // console.log('ok')
        this.progressEdit = true
        try {
          this.itemEdit.data.timestamp = this.$moment().format(
            'YYYY-MM-DD HH:mm:ss'
          )
          this.$fireDb
            .ref('setting')
            .child(firebaseUser.uid + '/Device/' + this.itemEdit.key)
            .set(this.itemEdit.data, (error) => {
              if (error) {
                // The write failed...
                this.$notifier.showMessage({
                  content: error,
                  color: 'error'
                })
              } else {
                // Data saved successfully!
                this.progressEdit = false
                this.dialogEditClicked = false
                // this.$notifier.showMessage({
                //   content: 'บันทึกข้อมูลสำเร็จ!',
                //   color: 'success'
                // })
              }
            })
        } catch (e) {
          console.log(e)
        }
      } else {
        // 'not work'
        this.$notifier.showMessage({
          content: 'กรุณากรอกตามที่รูปแบบกำหนดด้วยค่ะ!',
          color: 'error'
        })
      }
    },
    handleDeleteDeviceClicked(item) {
      console.log(item)
      // console.log('key', item.key)
      // console.log('key device', item.data.key)

      this.dialogsAlarm.id_selected = item.key
      this.dialogsAlarm.type_confirm = false
      this.dialogsAlarm.show = true
      this.dialogsAlarm.color = 'red'
      this.dialogsAlarm.title = 'คุณต้องการลบ'
      this.dialogsAlarm.message = `รายการ : ${item.data.name}<br>Device ID : ${item.data.key}<br>ของเวลา : ${item.data.timestamp}<br>จริงหรือไม่?`
    },
    handleDialogClickedConfirm() {
      console.log('handleCancelClickedConfirm Page')
      try {
        if (this.dialogsAlarm.id_selected) {
          if (!this.dialogsAlarm.type_confirm) {
            this.$fireDb
              .ref('setting')
              .child(
                firebaseUser.uid + '/Device/' + this.dialogsAlarm.id_selected
              )
              .remove()
            this.$notifier.showMessage({
              content: 'ลบข้อมูลสำเร็จ!',
              color: 'warning'
            })
          }
        } else {
          this.$notifier.showMessage({
            content: `Error : ไม่พบ ID Key Data`,
            color: 'error'
          })
        }
      } catch (e) {
        this.$notifier.showMessage({
          content: `Error : ${e}`,
          color: 'error'
        })
      } finally {
        this.dialogsAlarm.show = false
        this.$fetch()
      }
    }
  }
}
</script>

<style lang="css" scoped></style>
