<template lang="html">
  <v-row>
    <v-col cols="12">
      <v-subheader>จุดเริ่มต้น</v-subheader>
      <v-timeline align-top dense>
        <v-timeline-item color="teal lighten-3" small>
          <v-row class="pt-1">
            <v-col cols="3">
              <strong class="blue--text">Start</strong>
            </v-col>
            <v-col>
              <strong class="teal--text">เรามารวมตัวกัน</strong>
              <div
                v-for="(p, index) in personAvatar"
                :key="`caption${index}`"
                class="caption mb-2"
              >
                {{ `${++index}.${p.name}` }}
              </div>

              <v-tooltip v-for="(p, index) in personAvatar" :key="index" bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-avatar v-bind="attrs" v-on="on">
                    <v-img :src="p.img_src"></v-img>
                  </v-avatar>
                </template>
                <span>{{ `${++index}.${p.name}` }}</span>
              </v-tooltip>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item color="pink" small>
          <v-row class="pt-1">
            <v-col cols="3">
              <strong class="blue--text">STEP 1</strong>
            </v-col>
            <v-col>
              <strong class="pink--text">แนวคิดเดียวกัน</strong>
              <div class="caption">
                อยากสร้างระบบตรวจจับ GAS
                เพื่อลดการเกิดไฟไหม้ของชุมชนที่พวกเราอยู่อาศัย
              </div>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item color="pink" small>
          <v-row class="pt-1">
            <v-col cols="3">
              <strong class="blue--text">STEP 2</strong>
            </v-col>
            <v-col>
              <strong class="pink--text">ออกแบบระบบ และลงมือทำ</strong>
              <div class="caption">
                <ul>
                  <li>วิเคราะห์ปัญหา</li>
                  <li>Design Logic</li>
                  <li>Design UI</li>
                  <li>Design Database</li>
                </ul>
              </div>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item color="warning lighten-3" small>
          <v-row class="pt-1">
            <v-col cols="3">
              <strong class="blue--text">STEP 3</strong>
            </v-col>
            <v-col>
              <strong class="warning--text">ตรวจสอบและแก้ไข</strong>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item color="green lighten-1" small>
          <v-row class="pt-1">
            <v-col cols="3">
              <strong class="green--text">End</strong>
            </v-col>
            <v-col>
              <strong class="green--text">ส่งมอบประชาสัมพันธ์</strong>
              <div class="caption">Web App</div>
            </v-col>
          </v-row>
        </v-timeline-item>
      </v-timeline>
    </v-col>
  </v-row>
</template>

<script>
export default {
  // props: {
  //   personAvatar: {
  //     type: Array,
  //     default() {
  //       return []
  //     }
  //   }
  // }
  data: () => ({
    personAvatar: [
      {
        name: 'นายทดสอบทดสอบ นามสกุล',
        img_src: 'https://cdn.vuetifyjs.com/images/lists/1.jpg'
      },
      {
        name: 'นายทดสอบทดสอบ นามสกุล',
        img_src: 'https://cdn.vuetifyjs.com/images/lists/2.jpg'
      },
      {
        name: 'นายทดสอบทดสอบ นามสกุล',
        img_src: 'https://cdn.vuetifyjs.com/images/lists/3.jpg'
      }
    ]
  })
}
</script>

<style lang="css" scoped></style>
