<template>
  <v-app>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <!--Fix Bug(v-bottom-navigation) ON [npm run generate] => style="padding-top: 8px;" -->
    <v-bottom-navigation
      v-if="loggedIn"
      grow
      color="amber"
      fixed
      app
      style="padding-top: 8px;"
    >
      <v-btn v-for="(menu, i) in menus" :key="i" :to="menu.url" exact>
        <span>{{ menu.title }}</span>
        <v-icon>{{ menu.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <Snackbar></Snackbar>

    <v-dialog v-model="dialog.status" :color="dialog.title_color" persistent>
      <v-card>
        <v-card-title class="headline">
          {{ dialog.title }}
        </v-card-title>
        <v-card-text>{{ dialog.text }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog.status = false">
            {{ dialog.btn_ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar'
// const firebaseUser = JSON.parse(localStorage.firebase_user)

export default {
  components: {
    Snackbar
  },
  data() {
    return {
      dialog: {
        status: false,
        title: 'Title',
        title_color: '',
        text: 'text',
        btn_ok: 'ตกลง'
      },
      overlay: true,
      loggedIn: false,
      menus: [
        { title: 'หน้าหลัก', icon: 'mdi-home', url: '/guest' },
        { title: 'การแจ้งเตือน', icon: 'mdi-alert', url: '/guest/alarm' },
        { title: 'ตั้งค่า', icon: 'mdi-cog-outline', url: '/guest/setting' }
      ]
    }
  },
  beforeCreate() {
    console.log('beforeCreate()')
    this.$fireAuth.onAuthStateChanged((user) => {
      console.log('onAuthStateChanged', user)
      // console.log('uid', user.uid)
      if (user) {
        // check [user_type] ของ user ที่ Login
        if (localStorage) {
          localStorage.firebase_user = JSON.stringify({
            uid: user.uid,
            email: user.email
          })
        } else {
          alert('กรุณาเปลี่ยน บราวเซอร์เป็น Chrome,Firefox ด้วยค่ะ!')
        }
        try {
          this.$fireDb
            .ref('user_auth')
            .child(user.uid + '/user_type')
            .once('value')
            .then((snapshot) => {
              // handle read data.
              // console.log(snapshot.val())
              // console.log('key: ' + snapshot.key)
              // snapshot.forEach(function(data) {
              //   console.log('[key]: ' + data.key + ' [val]: ' + data.val())
              // })
              if (snapshot.val()) {
                this.overlay = false
                this.loggedIn = true
                console.log('$route.name: ', this.$route.name)
                if (this.$route.name === 'index') {
                  this.$router.push({ name: snapshot.val() })
                }
              } else {
                this.$router.push('/')
              }
            })
        } catch (error) {
          this.overlay = false
          this.dialog.status = true
          this.dialog.title = 'เกิดข้อผิดพลาด'
          this.dialog.title_color = 'error'
          this.dialog.text = `error.code: ${error.code} <br> error.message: ${error.message}`
        }
        // finally {
        // }
      } else {
        localStorage.firebase_user = JSON.stringify({
          uid: null,
          email: null
        })
        this.overlay = false
        this.loggedIn = false
        // console.log('no auth')
        this.$router.push('/')
      }
    })
  },
  mounted() {
    // console.log('mounted()!')
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 1000)
    })
  }
}
</script>
