<template>
  <v-app>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <!--Fix Bug(v-bottom-navigation) ON [npm run generate] => style="padding-top: 8px;" -->
    <v-bottom-navigation
      v-if="loggedIn"
      grow
      color="amber"
      fixed
      app
      style="padding-top: 8px;"
    >
      <v-btn v-for="(menu, i) in menus" :key="i" :to="menu.url" exact>
        <span>{{ menu.title }}</span>
        <v-icon>{{ menu.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <Snackbar></Snackbar>
    <v-row justify="center">
      <v-dialog v-model="dialog.status" :color="dialog.title_color" persistent>
        <v-card>
          <v-card-title class="headline">
            {{ dialog.title }}
          </v-card-title>
          <v-card-text>{{ dialog.text }}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog.status = false">
              {{ dialog.btn_ok }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar'
export default {
  components: {
    Snackbar
  },
  data() {
    return {
      loggedIn: true,
      dialog: {
        status: false,
        title: 'Title',
        title_color: '',
        text: 'text',
        btn_ok: 'ตกลง'
      },
      menus: [
        { title: 'การแจ้งเตือน', icon: 'mdi-alert', url: '/security' },
        { title: 'ตั้งค่า', icon: 'mdi-cog-outline', url: '/security/setting' }
      ]
    }
  },
  mounted() {
    this.getDeviceToken()
  },
  methods: {
    getDeviceToken() {
      const firebaseUser = JSON.parse(localStorage.firebase_user)
      console.log('getDeviceToken Start...')
      this.$fireMess
        .requestPermission()
        .then(() => {
          console.log('Have permission')
          return this.$fireMess.getToken()
        })
        .then((currentToken) => {
          if (currentToken) {
            console.log('Current Token : ', currentToken)
            this.$fireDb
              .ref('user_auth')
              .child(firebaseUser.uid)
              .update({
                fcm: currentToken,
                update_datetime: this.$moment().format('YYYY-MM-DD HH:mm:ss')
              })
          }
        })
        .catch((err) => {
          console.log('Error occured', err)
        })
      this.$fireMess.onMessage((payload) => {
        console.log('onMessage: ', payload)
        this.dialog.status = true
        this.dialog.title = payload.notification.title
        this.dialog.title_color = 'error'
        this.dialog.text = payload.notification.body
      })
    }
  }
}
</script>
