<template lang="html">
  <v-row>
    <v-col cols="12" class="text-center">
      <FireLogo />
      <h1>FORGET PASSWORD</h1>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-hover>
        <template v-slot="{ hover }">
          <v-card
            :elevation="hover ? 24 : 1"
            class="mx-auto"
            :loading="progressAuth"
          >
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>
                <p>ระบบจะส่ง ให้คุณ reset password ที่ Email</p>
                <v-btn
                  block
                  :disabled="!valid"
                  :loading="btnloading"
                  color="error"
                  class="mr-4"
                  @click="forget_pass"
                >
                  ลืมรหัสผ่าน
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </template>
      </v-hover>
    </v-col>

    <v-col>
      <div class="text-center mt-n2">
        <v-btn
          ripple
          rounded
          text
          :to="{ name: 'register' }"
          style="font-size: medium"
          >ลงทะเบียน</v-btn
        >
        |
        <v-btn ripple rounded text to="/" style="font-size: medium">
          <v-icon left color="white">mdi-login</v-icon> เข้าสู่ระบบ</v-btn
        >
      </div>
    </v-col>
    <v-snackbar
      v-model="snackbar.status"
      :multi-line="snackbar.multiLine"
      :color="snackbar.color"
    >
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn dark v-bind="attrs" @click="snackbar.status = false">
          ปิด
        </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
// import { auth } from '~/plugins/firebase.js'
import FireLogo from '@/components/FireLogo'
export default {
  components: {
    FireLogo
  },
  data: () => ({
    progressAuth: false,
    snackbar: {
      status: false,
      multiLine: true,
      color: null,
      text: ''
    },
    valid: true,
    btnloading: false,
    email: '',
    emailRules: [
      (v) => !!v || 'E-mail เป็นค่าว่าง',
      (v) => /.+@.+\..+/.test(v) || 'E-mail รูปแบบไม่ถูกต้อง'
    ]
  }),

  methods: {
    async forget_pass() {
      if (this.$refs.form.validate()) {
        this.progressAuth = true
        try {
          await this.$fireAuth.sendPasswordResetEmail(this.email)
          this.snackbar.status = true
          this.snackbar.color = 'success'
          this.snackbar.text = 'ระบบทำการส่งการ Reset ทาง Email ของท่านแล้วค่ะ!'
        } catch (error) {
          // let errorCode = error.code
          // let errorMessage = error.message

          this.snackbar.status = true
          this.snackbar.color = 'error'
          if (error.code === 'auth/user-not-found') {
            this.snackbar.text =
              'Email ไม่ได้ลงทะเบียนกับเราค่ะ! กรุณาลองใหม่อีกครั้ง'
          } else {
            this.snackbar.text = `error.code: ${error.code} || error.message: ${error.message}`
          }
          // console.log(error)
        } finally {
          console.log('finally')
          this.progressAuth = false
        }
      }
    }
  }
}
</script>

<style lang="css" scoped></style>
