<template lang="html">
  <v-row>
    <v-col cols="12" class="text-center">
      <FireLogo />
      <h1>IOT GAS ALAM SENSER</h1>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-hover>
        <template v-slot="{ hover }">
          <v-card
            :elevation="hover ? 24 : 1"
            class="mx-auto"
            :loading="progressAuth"
            loader-height="6"
          >
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <div class="d-flex justify-center">
                  <v-radio-group v-model="user_type" class="text-center" row>
                    <v-radio label="GUEST" value="guest"></v-radio>
                    <v-radio
                      label="SECURITY"
                      value="security"
                      color="red"
                    ></v-radio>
                  </v-radio-group>
                </div>

                <v-text-field
                  v-model="email"
                  type="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="passwordRules"
                  :type="show_password ? 'text' : 'password'"
                  name="input-10-1"
                  label="Password"
                  hint="รหัสผ่าน 6 ตัวขึ้นไป"
                  :counter="0"
                  @click:append="show_password = !show_password"
                ></v-text-field>

                <v-checkbox
                  v-model="checkbox"
                  label="ต้องการให้เข้าสู่ระบบ อัตโนมัต"
                ></v-checkbox>
                <!-- <v-col cols="12" v-if="progressAuth">
                  <v-progress-linear
                    color="deep-purple accent-4"
                    indeterminate
                    rounded
                    height="6"
                  ></v-progress-linear>
                </v-col> -->
                <v-btn
                  block
                  :disabled="!valid"
                  :loading="btnloading_login"
                  color="error"
                  class="mr-4"
                  @click="validate"
                >
                  <v-icon left>mdi-login</v-icon>
                  Login
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </template>
      </v-hover>
    </v-col>

    <v-col>
      <div class="text-center">
        <v-btn
          ripple
          rounded
          text
          :to="{ name: 'register' }"
          style="font-size: medium"
          >ลงทะเบียน</v-btn
        >
        |
        <v-btn
          ripple
          rounded
          text
          :to="{ name: 'forget_pass' }"
          style="font-size: medium"
          >ลืมรหัสผ่าน</v-btn
        >
      </div>
    </v-col>
    <v-snackbar v-model="snackbar.status" :multi-line="snackbar.multiLine">
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar.status = false">
          ปิด
        </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
// import * as firebase from 'firebase'
// import 'firebase/auth'
// import { auth } from '~/plugins/firebase.js'
import FireLogo from '@/components/FireLogo'
export default {
  components: {
    FireLogo
  },
  data: () => ({
    progressAuth: false,
    snackbar: {
      status: false,
      multiLine: true,
      text: ''
    },
    valid: true,
    user_type: 'guest',
    email: '',
    password: '',
    show_password: false,
    checkbox: false,
    error: '',
    emailRules: [
      (v) => !!v || 'E-mail เป็นค่าว่าง',
      (v) => /.+@.+\..+/.test(v) || 'E-mail รูปแบบไม่ถูกต้อง'
    ],
    passwordRules: [
      (v) => !!v || 'รหัสผ่าน เป็นค่าว่าง',
      (v) => (v && v.length >= 6) || 'รหัสผ่าน 6 ตัวขึ้นไป'
    ],
    btnloading_login: false
  }),

  mounted() {
    // console.log('mounted')
  },
  created() {
    console.log('INDEX created')
  },
  methods: {
    async validate() {
      if (this.$refs.form.validate()) {
        this.progressAuth = true
        try {
          const user = await this.$fireAuth.signInWithEmailAndPassword(
            this.email,
            this.password
          )
          console.log(user)
        } catch (error) {
          // let errorCode = error.code
          // let errorMessage = error.message

          this.snackbar.status = true
          if (error.code === 'auth/wrong-password') {
            this.snackbar.text = 'รหัสผ่านไม่ถูกต้องค่ะ! กรุณาลองใหม่อีกครั้ง'
          } else {
            this.snackbar.text = `error.code: ${error.code} || error.message: ${error.message}`
          }

          // console.log(error)
        } finally {
          // console.log('finally')
          this.progressAuth = false
        }

        // if (this.user_type === 'guest') {
        //   this.$router.push({ name: 'guest' })
        // } else {
        //   this.$router.push({ name: 'security' })
        // }
      } else {
        alert('not work')
        // if (this.user_type === 'guest') {
        //   this.$router.push({ name: 'guest' })
        // } else {
        //   this.$router.push({ name: 'security' })
        // }
      }
    }
  }
}
</script>

<style lang="css" scoped></style>
