<template lang="html">
  <v-row>
    <v-col cols="12" class="text-center">
      <FireLogo />
      <h1 class="text-uppercase">register [{{ user_type }}]</h1>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-hover>
        <template v-slot="{ hover }">
          <v-card
            :elevation="hover ? 24 : 1"
            class="mx-auto"
            :loading="progressAuth"
            loader-height="6"
          >
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <div class="d-flex justify-center">
                  <v-radio-group v-model="user_type" class="text-center" row>
                    <v-radio label="GUEST" value="guest"></v-radio>
                    <v-radio
                      label="SECURITY"
                      value="security"
                      color="red"
                    ></v-radio>
                  </v-radio-group>
                </div>

                <v-text-field
                  v-model="fullname"
                  :rules="fullnameRules"
                  label="ชื่อ-นามสกุล"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="passwordRules"
                  :type="show_password ? 'text' : 'password'"
                  label="Password"
                  hint="At least 8 characters"
                  counter="0"
                  @click:append="show_password = !show_password"
                ></v-text-field>

                <v-textarea
                  v-model="address"
                  :rules="addressRules"
                  counter="0"
                  label="ที่อยู่"
                  auto-grow
                  rows="2"
                  required
                ></v-textarea>
                <v-text-field
                  v-model="phoneMask"
                  v-mask="{ mask: '(###) ### - ####', unmaskedVar: 'phone' }"
                  counter="0"
                  :rules="phoneMaskRules"
                  label="เบอร์โทร"
                  required
                ></v-text-field>

                <v-row>
                  <v-col cols="12">
                    <v-btn
                      block
                      :disabled="!valid"
                      :loading="btnloading_login"
                      color="success"
                      class="mr-4"
                      @click="validate"
                    >
                      <v-icon left>mdi-account-plus-outline</v-icon>
                      ลงทะเบียน
                    </v-btn>
                  </v-col>
                  <v-col cols="12">
                    <v-btn block color="grey" class="mr-4" to="/">
                      <v-icon left>mdi-arrow-left</v-icon>
                      ย้อนกลับ
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </template>
      </v-hover>
    </v-col>

    <v-dialog v-model="dialog.status" max-width="500px">
      <v-card>
        <v-card-title
          :class="`headline ${dialog.title_color}`"
          dark
          primary-title
        >
          <span :style="dialog.title_color ? 'color:white' : ''">{{
            dialog.title
          }}</span>
        </v-card-title>
        <v-card-text class="pt-2">
          <p style="font-size: 20px">{{ dialog.text }}</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :color="dialog.title_color"
            dark
            @click="dialog.status = false"
          >
            {{ dialog.btn_ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mask } from '@titou10/v-mask'
import FireLogo from '@/components/FireLogo'
export default {
  directives: { mask },
  components: {
    FireLogo
  },
  data: () => ({
    progressAuth: false,
    valid: true,
    user_type: 'guest',
    fullname: '',
    email: '',
    password: '',
    show_password: false,
    address: null,
    phoneMask: null,
    phone: null,
    fullnameRules: [
      (v) => !!v || 'กรุณาระบุ ชื่อ-นามสกุล ของท่าน',
      (v) => (v && v.length >= 8) || 'กรุณาระบุ 8 ตัวอักษรขึ้นไป'
    ],
    emailRules: [
      (v) => !!v || 'กรุณาระบุ E-mail ของท่าน',
      (v) => /.+@.+\..+/.test(v) || 'E-mail รูปแบบไม่ถูกต้อง'
    ],
    passwordRules: [
      (v) => !!v || 'กรุณาระบุ รหัสผ่าน ของท่าน',
      (v) => (v && v.length >= 6) || 'รหัสผ่าน 6 ตัวขึ้นไป'
    ],
    addressRules: [
      (v) => !!v || 'กรุณาระบุ ที่อยู่ ของท่าน',
      (v) => (v && v.length >= 10) || 'กรุณาระบุ 10 ตัวอักษรขึ้นไป'
    ],
    phoneMaskRules: [
      (v) => (v && v.length === 16) || 'กรุณาระบุ เบอร์มือถือ ของท่าน' // (###) ### - #### => 16 length
    ],
    btnloading_login: false,
    dialog: {
      status: false,
      title: 'Title',
      title_color: '',
      text: 'text',
      btn_ok: 'ตกลง'
    }
  }),
  methods: {
    async validate() {
      if (this.$refs.form.validate()) {
        this.progressAuth = true
        try {
          const reg = await this.$fireAuth.createUserWithEmailAndPassword(
            this.email,
            this.password
          )
          if (reg) {
            // this.dialog.status = true
            // this.dialog.title = 'เกิดข้อผิดพลาด'
            // this.dialog.title_color = 'error'
            console.log(reg)
            console.log(
              'reg.additionalUserInfo.isNewUser:',
              reg.additionalUserInfo.isNewUser
            )
            console.log('reg.user.uid:', reg.user.uid)
            if (reg.additionalUserInfo.isNewUser) {
              try {
                const saveUserAuth = await this.$fireDb
                  .ref('user_auth')
                  .child(reg.user.uid)
                  .set({
                    name: this.fullname,
                    create_datetime: this.$moment().format('Y-m-d HH:mm:ss'),
                    user_type: this.user_type,
                    phone: this.phone,
                    address: this.address
                  })
                console.log(saveUserAuth)
              } catch (error) {
                console.log(`error saveUserAuth : ${error}`)
              } finally {
                console.log('finally saveUserAuth')
                this.$router.push('/')
              }
            }

            // if(reg.additionalUserInfo.isNewUser)
          }
          // this.$router.push({ name: 'guest' })
        } catch (error) {
          this.dialog.status = true
          this.dialog.title = 'เกิดข้อผิดพลาด'
          this.dialog.title_color = 'error'
          if (error.code === 'auth/email-already-in-use') {
            this.dialog.text =
              'Email นี้ไม่พร้อมใชช้งาน! กรุณาใช้ Email อื่นด้วยค่ะ.'
          } else {
            this.dialog.text = `error.code: ${error.code} <br> error.message: ${error.message}`
          }
          console.log(error)
        } finally {
          this.progressAuth = false
        }
      }
    }
  }
}
</script>

<style lang="css" scoped></style>
