<template lang="html">
  <v-row>
    <v-col cols="12" class="text-center">
      <FireHeader title="security" titleclass="text-uppercase" />
    </v-col>
    <!-- dataDeviceList:{{ dataDeviceList }} -->
    <!-- <br />-->
    <!-- dataDeviceListHistory:{{ dataDeviceListHistory }} -->
    <v-col cols="12">
      <v-card>
        <v-tabs
          v-model="tab"
          color="deep-orange accent-4"
          centered
          grow
          icons-and-text
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            แจ้งเตือนล่าสุด
            <v-icon>mdi-alarm-light</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            ประวัติ
            <v-icon>mdi-history</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <!-- <v-card flat>
              <v-card-text>
                <v-row>
                  <v-card class="mx-auto" width="100%" elevation="16">
                    <v-card-title>เกิดเหตุ บ้านคุณทดสอบ ระบบ </v-card-title>
                    <v-card-subtitle class="pb-0"
                      >07/07/2563 12:12:12</v-card-subtitle
                    >
                    <v-card-text class="text--primary pb-0">
                      <div class="text-h6">
                        บริเวณ :
                        <v-chip class="ma-2" color="warning" text-color="white">
                          <v-icon left>mdi-fire</v-icon>
                          ด้านหลังบ้าน
                        </v-chip>
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn block color="error" @click="dialog = true"
                        >ตรวจสอบสถานที่</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-row>
              </v-card-text>
            </v-card> -->

            <v-row>
              <v-col
                v-for="(item, i) in dataDeviceList"
                :key="i"
                cols="12"
                class="px-5 py-2"
              >
                <v-card v-breathing-colors="breathingSetting" class="mx-auto">
                  <v-list-item two-line>
                    <v-list-item-content>
                      <v-list-item-title class="headline">
                        <v-card-title class="subheading font-weight-bold pa-1">
                          <v-avatar color="indigo" size="28" class="mr-2">
                            <span class="white--text">{{ ++i }}</span>
                          </v-avatar>
                          เบอร์โทร&nbsp;
                          <a :href="`tel:${item.userPhone}`">
                            {{ item.userPhone }}
                          </a>
                        </v-card-title>
                      </v-list-item-title>
                      <v-list-item-subtitle
                        >Data Key : {{ item.key }}
                      </v-list-item-subtitle>
                      <v-list-item-subtitle
                        >Device ID : {{ item.deviceKey }}
                      </v-list-item-subtitle>
                      <v-list-item-subtitle>
                        ข้อมูล ณ : {{ item.timestamp }}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-card-text class="pa-0">
                    <v-row align="center" class="text-center">
                      <!-- <v-col class="display-3 error" cols="6">
                        300 PPM
                      </v-col> -->
                      <v-col cols="12">
                        <v-progress-circular
                          :rotate="90"
                          :size="100"
                          :width="10"
                          :value="(item.deviceValueDetect / 200) * 100"
                          color="red"
                        >
                          {{ item.deviceValueDetect }} PPM
                        </v-progress-circular>
                      </v-col>
                      <v-col cols="12">
                        {{ item.deviceMsgAlarm }}
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <div class="text-center">
                    ค่าที่กำหนด Alarm
                    <span class="success--text"
                      >{{ item.deviceValueAlarmDefault }} PPM
                    </span>
                  </div>

                  <v-divider></v-divider>
                  <v-col
                    v-if="item.fullname"
                    class="light-blue darken-2 white--text pa-0 ma-0 text-center"
                  >
                    คุณ{{ item.fullname }}
                  </v-col>
                  <v-col class="text-center white">
                    ที่อยู่ : {{ item.userAddress }}
                  </v-col>
                  <v-card-actions>
                    <v-btn
                      block
                      :color="item.securityAccept ? 'warning' : 'error'"
                      @click="handleDialogClicked(item)"
                      >{{
                        item.securityAccept
                          ? 'รับทราบแล้ว กำลังเดินทาง...'
                          : 'ตรวจสอบสถานที่'
                      }}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-card flat>
              <v-card-text>
                <v-data-table
                  :headers="headersHistory"
                  :items="dataDeviceListHistory"
                  class="elevation-1"
                >
                  <template v-slot:item.valueDetect="{ item }">
                    <v-chip :color="getColor(item.valueDetect)" dark>{{
                      item.valueDetect
                    }}</v-chip>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>

    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card>
        <v-toolbar dark color="warning">
          <v-btn icon dark @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>ตรวจสอบสถานที่</v-toolbar-title>
        </v-toolbar>
        <!-- data raw:{{ dialogClicked }} -->
        <v-card-title>
          <v-col cols="12" class="headline pl-0 pb-0"
            >คุณ{{ dialogClicked.fullname }}<v-divider></v-divider
          ></v-col>
        </v-card-title>

        <v-card-text>
          <p class="mb-0">
            <v-icon left> mdi-home </v-icon> {{ dialogClicked.userAddress }}
          </p>
          <p class="mb-1">
            <v-icon left> mdi-phone </v-icon>
            <a :href="`tel:${dialogClicked.userPhone}`">
              {{ dialogClicked.userPhone }}
            </a>
          </p>
          <v-col cols="12" class="text-center">
            <v-chip color="deep-orange accent-4" outlined x-large chip>
              <v-icon left> mdi-arrow-up </v-icon>
              <span style="font-size: 50pt">{{
                dialogClicked.deviceValueDetect
              }}</span
              >/{{ dialogClicked.deviceValueAlarmDefault }}
              PPM
            </v-chip>
          </v-col>
          <GMap
            ref="gMap"
            language="th"
            :cluster="{ options: { styles: clusterStyle } }"
            :center="{ lat: locations[0].lat, lng: locations[0].lng }"
            :options="{ fullscreenControl: false }"
            :zoom="10"
          >
            <GMapMarker
              v-for="location in locations"
              :key="location.id"
              :position="{ lat: location.lat, lng: location.lng }"
              :options="{
                icon:
                  location === currentLocation
                    ? pins.selected
                    : pins.notSelected
              }"
              @click="currentLocation = location"
            >
              <GMapInfoWindow :options="{ maxWidth: 200, maxHeight: 100 }">
                <code> lat: {{ location.lat }}, lng: {{ location.lng }} </code>
              </GMapInfoWindow>
            </GMapMarker>
            <GMapCircle />
          </GMap>
          <v-col cols="12" class="text-center text-caption">
            ละติจูด : {{ locations[0].lat }}, ลองจิจูด:
            {{ locations[0].lng }}</v-col
          >
        </v-card-text>
        <v-btn
          :disabled="dialogClicked.securityIsComplete"
          :color="dialogClicked.securityAccept ? 'success' : 'error'"
          x-large
          @click="
            dialogClicked.securityAccept
              ? handleSecuritysecurityIsComplete(dialogClicked)
              : handleSecurityAcceptClicked(dialogClicked)
          "
        >
          <v-icon>mdi-map-marker-check </v-icon>
          {{
            dialogClicked.securityAccept
              ? 'ถึงจุดเกิดเหตุแล้ว'
              : 'ยอมรับ และ เริ่มนำทาง'
          }}
        </v-btn>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
// import {
//   userAuthDB,
//   userSettingDB,
//   alarmSensorDB,
//   messaging,
// } from '~/plugins/firebase.js' //, logSensorDB
import FireHeader from '@/components/guest/FireHeader'
// const firebaseUser = JSON.parse(localStorage.firebase_user)

export default {
  layout: 'security',
  components: {
    FireHeader
  },
  data: () => ({
    dialog: false,
    currentLocation: {},
    locations: [
      {
        lat: null,
        lng: null
      }
    ],
    pins: {
      selected:
        'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
      notSelected: ''
    },
    clusterStyle: [
      {
        url:
          'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
        width: 56,
        height: 56,
        textColor: '#fff'
      }
    ],
    tab: null,
    headersHistory: [
      { text: 'วันที่ เวลาที่รับแจ้ง', value: 'dateTimeIsAccept' },
      { text: 'ระยะเวลา(นาที)', value: 'timeComplete' },
      { text: 'Device ID', value: 'deviceID' },
      { text: 'ค่า LPG', value: 'valueDetect' },
      { text: 'ค่าที่กำหนด Alarm', value: 'valueAlarmDefault' }
    ],
    dataDeviceListHistory: [],
    dataDeviceList: [],
    breathingSetting: {
      colors: ['yellow', 'orange'],
      interval: 750,
      transition: {
        duration: 750
      }
    },
    dialogClicked: []
  }),
  mounted() {
    console.log('mounted Page')
    // https://firebase.google.com/docs/reference/js/firebase.database.DataSnapshot
    this.$fireDb.ref('alarmSensor').on('value', (snapshot) => {
      this.dataDeviceList = []
      snapshot.forEach((mainSnapshot) => {
        // console.log('main key:', mainSnapshot.key)
        // console.log(mainSnapshot.val())
        this.$fireDb
          .ref('alarmSensor')
          .child(mainSnapshot.key)
          .orderByChild('confirmAlarm')
          .equalTo(true)
          // .limitToLast(1)
          .once('value', (childSnapshot) => {
            if (childSnapshot.exists()) {
              // console.log('childSnapshot.val()')
              childSnapshot.forEach((valChildSnapshot) => {
                if (!valChildSnapshot.val().securityIsComplete) {
                  //  securityIsComplete != TRUE
                  this.$fireDb
                    .ref('setting')
                    .once('value', (snapshotSetting) => {
                      if (snapshotSetting.exists()) {
                        snapshotSetting.forEach((valsnapshotSetting) => {
                          this.$fireDb
                            .ref('setting')
                            .child(valsnapshotSetting.key + '/Device/')
                            .orderByChild('key')
                            .equalTo(mainSnapshot.key)
                            .once('value', (snapshot2Setting) => {
                              if (snapshot2Setting.exists()) {
                                snapshot2Setting.forEach(
                                  (valsnapshot2Setting) => {
                                    // console.log('uuid:', valsnapshotSetting.key)
                                    console.log(
                                      'valsnapshot2Setting',
                                      valsnapshot2Setting.val()
                                    )
                                    this.$fireDb
                                      .ref('user_auth')
                                      .child(valsnapshotSetting.key)
                                      .once('value', (snapshotUser) => {
                                        if (snapshotUser.exists()) {
                                          // console.log(
                                          //   'snapshotUser',
                                          //   snapshotUser.val()
                                          // )
                                          // console.log(
                                          //   'valChildSnapshot',
                                          //   valChildSnapshot.val()
                                          // )
                                          this.dataDeviceList.push({
                                            key: valChildSnapshot.key,
                                            deviceKey: mainSnapshot.key,
                                            deviceMsgAlarm: valsnapshot2Setting.val()
                                              .msg_alarm,
                                            timestamp: valChildSnapshot.val()
                                              .dateTime,
                                            deviceValueAlarmDefault: valChildSnapshot.val()
                                              .valueAlarmDefault,
                                            deviceValueDetect: valChildSnapshot.val()
                                              .valueDetect,
                                            confirmAlarm: valChildSnapshot.val()
                                              .confirmAlarm,
                                            userAddress: snapshotUser.val()
                                              .address,
                                            userPhone: snapshotUser.val().phone,
                                            lat: valsnapshot2Setting.val().lat,
                                            lng: valsnapshot2Setting.val().lng,
                                            fullname: snapshotUser.val().name,
                                            fcm: snapshotUser.val().fcm,
                                            securityAccept: valChildSnapshot.val()
                                              .securityAccept
                                          })
                                        }
                                      })
                                  }
                                )
                              } else {
                                console.log('No data')
                              }
                            })
                        })
                      }
                    })
                }
              })
            }
          })
      })
    })

    this.$fireDb.ref('alarmSensor').on('value', (snapshot) => {
      this.dataDeviceListHistory = []
      snapshot.forEach((mainSnapshot) => {
        this.$fireDb
          .ref('alarmSensor')
          .child(mainSnapshot.key)
          .orderByChild('securityIsComplete')
          .equalTo(true)
          // .limitToLast(1)
          .once('value', (childSnapshot) => {
            if (childSnapshot.exists()) {
              childSnapshot.forEach((valChildSnapshot) => {
                // console.log('his childSnapshot:', childSnapshot.val())
                // console.log('device ID:' + mainSnapshot.key)
                // console.log(
                //   'childSnapshot.val().valueDetect',
                //   valChildSnapshot.val().valueDetect
                // )
                const timeStart = this.$moment(
                  valChildSnapshot.val().dateTimeIsAccept,
                  'YYYY-MM-DD HH:mm:ss'
                )
                const timeEnd = this.$moment(
                  valChildSnapshot.val().dateTimeIsComplete,
                  'YYYY-MM-DD HH:mm:ss'
                )
                const TimeComplete = timeEnd.diff(timeStart, 'minutes')
                this.dataDeviceListHistory.push({
                  dateTimeIsAccept: valChildSnapshot.val().dateTimeIsAccept,
                  timeComplete: TimeComplete,
                  deviceID: mainSnapshot.key,
                  valueDetect: valChildSnapshot.val().valueDetect,
                  valueAlarmDefault: valChildSnapshot.val().valueAlarmDefault
                })
              })
            }
          })
      })
    })
  },
  methods: {
    getColor(value) {
      if (value > 100) return 'red'
      else if (value > 75) return 'orange'
      else return 'green'
    },
    handleDialogClicked(value) {
      this.locations = [
        {
          lat: value.lat,
          lng: value.lng
        }
      ]
      this.dialogClicked = value
      this.dialog = true
      console.log('handleDialogClicked', this.locations)
    },
    async handleSecurityAcceptClicked(value) {
      console.log('handleSecurityAcceptClicked', value)
      this.$fireDb
        .ref('alarmSensor')
        .child(`${value.deviceKey}/${value.key}`)
        .update({
          securityAccept: true,
          dateTimeIsAccept: this.$moment().format('YYYY-MM-DD HH:mm:ss')
        })
        .then((value) => {
          this.dialogClicked.securityAccept = true
        })
        .catch((err) => {
          console.log(err)
        })
      const msgSend = {
        to: value.fcm,
        notification: {
          sound: 'default',
          body: 'เจ้าหน้าที่กู้ภัย รับทราบ แล้วค่ะ',
          title: 'กำลังเดินทาง เพื่อให้การช่วยเหลือเร่งด่วน ค่ะ',
          content_available: true,
          priority: 'high'
        }
      }
      this.$axios.setToken(
        'AAAA3kNwMd8:APA91bHurC8nXwprZy3vNaFWDLh7VukOBGFVZ0jaWP5Uza-NZS8MIrOoXvNQg9dsU_ygy4WPHb_o9jK-9xqfW0_WiAZJBe2t9_TSZEFvnZ22y1hLc5CNwXySdDQoafDf7tSfDvF84cYl',
        'bearer'
      )
      await this.$axios.$post('https://fcm.googleapis.com/fcm/send', msgSend)
      window.open(
        'https://www.google.com/maps/?api=1&query=47.5951518,-122.3316393'
      )
      // console.log(send_fcm)
    },
    async handleSecuritysecurityIsComplete(value) {
      this.$fireDb
        .ref('alarmSensor')
        .child(`${value.deviceKey}/${value.key}`)
        .update({
          securityIsComplete: true,
          dateTimeIsComplete: this.$moment().format('YYYY-MM-DD HH:mm:ss')
        })
        .then((value) => {
          this.dialogClicked.securityIsComplete = true
          this.$notifier.showMessage({
            content: 'บันทึกข้อมูลสำเร็จ!',
            color: 'success'
          })
        })
        .catch((err) => {
          console.log(err)
        })
      const msgSend = {
        to: value.fcm,
        notification: {
          sound: 'default',
          body: 'เจ้าหน้าที่กู้ภัย ถึงถึงจุดเกิดเหตุแล้ว แล้วค่ะ',
          title: 'กำลังให้การช่วยเหลือเร่งด่วน ค่ะ',
          content_available: true,
          priority: 'high'
        }
      }
      this.$axios.setToken(
        'AAAA3kNwMd8:APA91bHurC8nXwprZy3vNaFWDLh7VukOBGFVZ0jaWP5Uza-NZS8MIrOoXvNQg9dsU_ygy4WPHb_o9jK-9xqfW0_WiAZJBe2t9_TSZEFvnZ22y1hLc5CNwXySdDQoafDf7tSfDvF84cYl',
        'bearer'
      )
      await this.$axios.$post('https://fcm.googleapis.com/fcm/send', msgSend)
    }
  }
}
</script>

<style lang="css" scoped></style>
