<template lang="html">
  <v-row>
    <v-col cols="12"> <FireHeader title="IOT GAS SETTING" /> </v-col>
    <!-- {{ dataSetting }} -->
    <v-col cols="12">
      <v-row dense>
        <v-col
          v-for="(card, i) in cards"
          :key="i"
          :cols="card.flex"
          class="pa-2"
        >
          <v-btn
            retain-focus-on-click
            block
            :color="card.color"
            class="white--text"
            min-height="100px"
            @click="card.dialog = true"
          >
            <v-row>
              <v-col cols="12" class="pa-0 ma-0"
                ><v-icon x-large dark>{{ card.icon }}</v-icon>
              </v-col>
              <v-col cols="12" class="pa-0 ma-0">
                {{ card.title }}
              </v-col>
            </v-row>
          </v-btn>
        </v-col>

        <v-col cols="12" class="pa-2">
          <LogoutFirebase />
        </v-col>
      </v-row>
    </v-col>
    <!-- dialog 1-->
    <v-dialog
      v-model="cards[0].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[0].color" short>
          <v-btn icon dark @click="cards[0].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[0].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%">
          <v-col cols="12">
            <v-form ref="form" v-model="formSetting">
              <v-subheader class="success--text title pa-0 ma-0"
                >ข้อมูลหน่วยงาน / สังกัด</v-subheader
              >
              <v-text-field
                v-model="dataSetting.name"
                :counter="0"
                :rules="[
                  (v) => !!v || 'กรุณากรอก ชื่อ-นามสกุล ของท่าน',
                  (v) =>
                    (v && v.length > 10) || 'กรุณากรอก ชื่อ-นามสกุล ให้ครบ!'
                ]"
                label="ชื่อ-นามสกุล"
                class="pa-0"
                required
              ></v-text-field>
              <v-text-field
                v-model="dataSetting.office"
                :counter="0"
                :rules="[
                  (v) => !!v || 'กรุณากรอก ชื่อหน่วยงาน/สังกัด ของท่าน',
                  (v) =>
                    (v && v.length > 10) ||
                    'กรุณากรอก ชื่อหน่วยงาน/สังกัด ให้ครบ!'
                ]"
                label="ชื่อหน่วยงาน/สังกัด"
                class="pa-0"
                required
              ></v-text-field>
              <v-textarea
                v-model="dataSetting.address"
                rows="2"
                outlined
                label="ที่อยู่"
                value="88 ม.6 ต.ต้นตาล อ.สองพี่น้อง จ.สุพรรณบุรี 72110"
              ></v-textarea>
              <v-text-field
                v-model="dataSetting.phone"
                :counter="0"
                :rules="[
                  (v) => !!v || 'กรุณากรอก เบอร์โทร ของท่าน',
                  (v) => (v && v.length >= 9) || 'กรุณากรอก เบอร์โทร ให้ครบ!'
                ]"
                label="เบอร์โทร"
                class="pa-0"
                required
              ></v-text-field>
              <v-btn
                block
                :disabled="!formSetting"
                :loading="progressFormSetting"
                color="success"
                class="mr-4"
                @click="validateFormSetting"
              >
                บันทึก
              </v-btn>
            </v-form>
          </v-col>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 1 -->
    <!-- dialog 2 -->
    <v-dialog
      v-model="cards[1].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[1].color" short>
          <v-btn icon dark @click="cards[1].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[1].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%">
          <v-list three-line>
            <v-subheader>VDO การใช้งานสำหรับกู้ภัยดับเพลิง</v-subheader>
            <iframe
              width="100%"
              style="min-height: 250px"
              src="https://www.youtube.com/embed/uBnXTuCKnCE"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 2 -->
    <!-- dialog 3 -->
    <v-dialog
      v-model="cards[2].dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card class="mx-auto">
        <v-toolbar flat dark :color="cards[2].color" short>
          <v-btn icon dark @click="cards[2].dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title v-text="cards[2].title" />
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-card-text style="min-height: 100%" class="pl-0"
          ><TimelineAbout />
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- /dialog 3 -->

    <v-snackbar
      v-model="snackbar.status"
      :multi-line="snackbar.multiLine"
      :color="snackbar.color"
    >
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" @click="snackbar.status = false"> ปิด </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
// import * as firebase from 'firebase'
// import 'firebase/auth'
// import { userAuthDB } from '~/plugins/firebase'
import FireHeader from '@/components/guest/FireHeader'
import LogoutFirebase from '@/components/firebase/Logout'
import TimelineAbout from '@/components/guest/setting/TimelineAbout'

const firebaseUser = JSON.parse(localStorage.firebase_user)

export default {
  layout: 'security',
  components: {
    FireHeader,
    LogoutFirebase,
    TimelineAbout
  },
  fetch() {
    try {
      this.$fireDb
        .ref('user_auth')
        .child(firebaseUser.uid)
        .once('value')
        .then((snapshot) => {
          if (snapshot.val()) {
            this.dataSetting = snapshot.val()
          }
          // snapshot.forEach(function(data) {
          //   console.log('[key]: ' + data.key + ' [val]: ' + data.val())
          // })
        })
    } catch (e) {
      console.log(e)
    }
  },
  data: () => ({
    formSetting: true,
    progressFormSetting: false,
    dataSetting: [],
    cards: [
      {
        icon: 'mdi-account-tie',
        title: 'ข้อมูลส่วนตัว',
        color: 'success',
        dialog: false,
        flex: 12
      },
      {
        icon: 'mdi-help',
        title: 'วิธีการใช้งาน',
        color: 'indigo',
        dialog: false,
        flex: 6
      },
      {
        icon: 'mdi-information-variant',
        title: 'เกี่ยวกับเรา',
        color: 'info',
        dialog: false,
        flex: 6
      }
    ],
    snackbar: {
      status: false,
      multiLine: true,
      color: null,
      text: ''
    }
  }),
  methods: {
    validateFormSetting() {
      if (this.$refs.form.validate()) {
        // console.log('validateFormSetting', this.dataSetting)
        this.progressFormSetting = true
        try {
          this.$fireDb
            .ref('user_auth')
            .child(firebaseUser.uid)
            .update({
              address: this.dataSetting.address,
              update_datetime: this.$moment().format('Y-m-d HH:mm:ss'),
              name: this.dataSetting.name,
              office: this.dataSetting.office,
              phone: this.dataSetting.phone
            })
          this.formSetting = false
          this.progressFormSetting = false
          this.snackbar.status = true
          this.snackbar.color = 'success'
          this.snackbar.text = 'บันทึกข้อมูลแล้ว'
        } catch (e) {
          console.log('Error', e)
        }
      } else {
        this.progressFormSetting = false
        this.snackbar.status = true
        this.snackbar.color = 'error'
        this.snackbar.text = 'กรุณากรอกตามที่รูปแบบกำหนดด้วยค่ะ!'
      }
    }
  }
}
</script>

<style lang="css" scoped></style>
